{% extends "center/home.html" %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% block content%}

{% load material_form %}
      <h4>{{ message }}</h4>
    <h1><b>Application Form & Joining Form </b></h1>
      <form class="form-horizontal" method="post">
        {% csrf_token %}
          <h4>{{ message }}</h4>
         {% form form=form %}
          {% endform %}
          <button>Submit</button>


      </form>
{% endblock %}


